a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  margin: 0;
}

.page-body {
  height: 100%;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}

.page-header {
  position: relative;
  box-sizing: border-box;
  min-height: 600px;

  padding-top: 56px;
  padding-bottom: 156px;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  background: url('../images/background-header-mobile.svg'),
    linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  background-repeat: no-repeat;
  /* background-size: 876px 292px, 100 100; */
  background-position: -135px -40px, 0 0;
  border-bottom-left-radius: 100px;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 59px;
    background: url('../images/background-header-desktop.svg'),
      linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    background-repeat: no-repeat;
    background-position: right 0 top 0;
    background-size: cover;
  }
}

.page-header__nav-container {
  max-width: 1106px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 108px;
}

@media (min-width: 768px) {
  .page-header__nav-container {
    margin-bottom: 119px;
  }
}

.logo {
  display: block;
}

@media (min-width: 768px) {
  .logo {
    width: 101px;
    height: 40px;
    margin-right: 64px;
  }
}

.button-menu {
  width: 32px;
  height: 18px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  background-image: url('../images/button-menu-open.svg');
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu--closed {
  width: 26px;
  height: 26px;
  background-image: url('../images/button-menu-closed.svg');
}

.menu {
  position: absolute;
  display: block;
  box-sizing: border-box;
  max-width: 587px;
  top: 124px;
  left: 24px;
  right: 24px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  color: #1f3e5a;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
}

.menu--hidden {
  display: none;
}

@media (min-width: 768px) {
  .menu--hidden {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu {
    position: static;
    display: flex;
    justify-content: space-between;
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

.menu__list {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e8e4e4;
}

@media (min-width: 768px) {
  .menu__list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    border-bottom: none;
  }
}

.menu__item {
  position: relative;
}

.menu__title {
  position: relative;
  display: block;
  width: auto;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
}

.menu__title:hover {
  color: #576e83;
}

@media (min-width: 768px) {
  .menu__title {
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    color: #ffffff;
    opacity: 0.75;
    margin: 0;
    margin-right: 48px;
  }

  .menu__title:hover {
    opacity: 1;
    color: #ffffff;
    text-decoration: underline;
  }

  .menu__item:hover .menu__sub-list {
    display: block;
  }

  .menu__item:hover .menu__title::after {
    transition: 0.2s;
  }
}

.menu__title--active {
  color: #576e83;
}

@media (min-width: 768px) {
  .menu__title--active {
    opacity: 1;
    color: #ffffff;
    text-decoration: underline;
  }
}

.menu__title::after {
  position: absolute;
  top: 10px;
  content: '';
  width: 24px;
  height: 7px;
  background-image: url('../images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center 0;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .menu__title::after {
    background-image: url('../images/icon-arrow-desktop.svg');
    transform: rotate(180deg);
    top: 5px;
  }
}

.menu__title--active::after {
  transform: rotate(180deg);
  transition: 0.2s;
}

.menu__sub-list {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
  background-color: #eeeef0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .menu__sub-list {
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    width: 168px;
    padding: 24px;
  }
}

.menu__title-hidden ~ .menu__sub-list {
  display: none;
}

@media (min-width: 768px) {
  .menu__title-hidden:hover ~ .menu__sub-list {
    display: block;
  }
}

.menu__link {
  color: #1f3e5a;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.75;
  
}

@media (min-width: 768px) {
  .menu__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 33px;
    color: #2d2e40;
    opacity: 1;
  }
}

.menu__link:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .menu__link:hover {
    font-weight: 600;
  }
}

.page-header__title {
  width: 310px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .page-header__title {
    width: auto;
    font-size: 64px;
    line-height: 98px;
    letter-spacing: -2px;
  }
}

.page-header__description {
  margin-top: -4px;
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 768px) {
  .page-header__description {
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 31px;
  }
}

.page-header__button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 137px;
  height: 48px;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #ffffff;
  border-radius: 28px;
}

.button--start-free {
  margin-right: 16px;
  color: #ff505c;
  background-color: #ffffff;
  border: none;
}

.button--start-free:hover {
  color: #ffffff;
  background-color: #ff7b86;
}

.button--learn-more:hover {
  color: #ff7b86;
  background-color: #ffffff;
}

.button--login {
  margin: 0 auto;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f3e5a;
  border: none;
}

@media (min-width: 768px) {
  .button--login {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
  }
}

.button--login:hover {
  opacity: 0.75;
}

.button--sign-up {
  margin: 0 auto;
  background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
}

@media (min-width: 768px) {
  .button--sign-up {
    margin: 0;
  }
}

.button--sign-up:hover {
  background: none;
  background-color: #ff7b86;
}

.designed {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 100px;
  background-image: url('../images/background-designed-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 330px;
  background-position: center 181px;
}

@media (min-width: 768px) {
  .designed {
    background-position: right -100px top 221px;
    background-size: 40vw;
  }
}

@media (min-width: 1300px) {
  .designed {
    padding-top: 150px;
    padding-bottom: 130px;
    padding-left: 165px;
    background-image: url('../images/background-designed-desktop.svg');
    background-size: 100% 882px;
    background-position: right -533px top 69px;
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 43px;
  letter-spacing: -1px;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 61px;
  }
}

.designed__title {
  margin-bottom: 410px;
  color: #1f3e5a;
}

@media (min-width: 768px) {
  .designed__title {
    margin-bottom: 93px;
    margin-left: 25vw;
    text-align: left;
  }
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #1f3e5a;
}

@media (min-width: 768px) {
  .subtitle {
    line-height: 28px;
  }
}

.designed__subtitle {
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .designed__subtitle {
    margin-bottom: 28px;
  }
}
.designed__subtitle:last-of-type {
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .designed__subtitle {
    text-align: left;
  }
}

.text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #4c5862;
}

@media (min-width: 768px) {
  .text {
    width: 540px;
    margin-right: 735px;
    padding-bottom: 39px;
    text-align: left;
  }
}

.state {
  padding-top: 233px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .state {
    margin-bottom: 4px;
    padding-top: 53px;
  }
}

.state-header {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 73px;
  padding-bottom: 111px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 221px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  background-image: url('../images/background-state.svg'),
    linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
  background-repeat: no-repeat;
  background-size: 602px 604px, cover;
  background-position: center top -236px, 0 0;
}

@media (min-width: 1300px) {
  .state-header {
    margin-bottom: 116px;
    padding-top: 110px;
    padding-bottom: 71px;
    background-size: 1014px 1018px, cover;
    background-position: left -213px top -509px, 0 0;
  }
}

.state-header::before {
  position: absolute;
  content: '';
  top: -172px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 327px;
  height: 376px;
  background-image: url('../images/background-state-phones.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 1300px) {
  .state-header::before {
    margin: 0;
    left: 107px;
    top: -78px;
    width: 532px;
    height: 569px;
  }
}

.state-header__title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: -1px;
  color: #ffffff;
}

@media (min-width: 1300px) {
  .state-header__title {
    margin-left: 49vw;
    margin-bottom: 7px;
    text-align: left;
  }
}

.state-header__text {
  margin: 0 auto;
  color: #ffffff;
}

@media (min-width: 1300px) {
  .state-header__text {
    margin-left: 49vw;
  }
}

.state__description {
  padding-top: 372px;
  padding-left: 33px;
  padding-right: 33px;
  background-image: url('../images/background-pc-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% 326px;
  background-position: center 0;
}

@media (min-width: 768px) {
  .state__description {
    padding-top: 185px;
    padding-bottom: 164px;
    background-image: url('../images/background-pc-desktop.svg');
    background-size: 889px 786px;
    background-position: right 40vw top 0;
  }
}

@media (min-width: 1300px) {
  .state__description {
    padding-top: 185px;
    padding-bottom: 164px;
    background-image: url('../images/background-pc-desktop.svg');
    background-size: 889px 786px;
    background-position: -120px 0;
  }
}

.state__subtitle {
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .state__subtitle {
    margin-bottom: 29px;
    margin-left: 49vw;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .state__text {
    margin-left: 49vw;
  }
}

.page-footer {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 35px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  background-color: #24242c;
  border-top-right-radius: 100px;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    padding-top: 70px;
    padding-left: 165px;
    padding-right: 165px;
    text-align: left;
  }
}

.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .footer__list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.footer__item {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__item {
    margin-right: auto;
  }

  .footer__item:first-child {
    margin-left: auto;
  }
}

.footer__title {
  margin: 0;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: 15px;
  }
}

.footer__sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__sub-list:last-child {
  margin-bottom: 0;
}

.footer__sub-item {
  font-size: 18px;
  line-height: 33px;
  opacity: 0.75;
}

@media (min-width: 768px) {
  .footer__sub-item {
    font-size: 15px;
  }
}
